<h2>Create A New List</h2>
<form action='/lists' method='post'>
	<label>Title</label>      
	<input type='text' name='list[title]'>
	<textarea name='list_items'></textarea>
	<input type='submit'>
</form>