* {
	font-size: 1em;
	font-family: Gotham Rounded, Arial, Helvetica, Sans-Serif;
}
html, body {
  padding: 0;
	margin: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
div#container {
	margin: auto;
	width: 95%;
}
div#content {
	padding: 1em;
}
input, textarea, label {
	display: block;
	margin-top: 1em;
}                 
input[type='text'], textarea {
	border: 1px solid #777;
}
input[type='submit'] {    
	margin-top: 1em;
	margin-bottom: 1em;
}         
form#new-item input, label, form#new-list input {
	display: inline;
	margin: 0;
}     
li.list {
	overflow: hidden;
	width: 100%;
}
li.list p {
	float:left;
	margin-top:1em;
	margin-right: 1em;
}
div#header {
	margin-top: .5em;
	background-color: #E3E8E7;
	padding: .5em;
	padding-right: 0;
	padding-left: 0;
	text-align: left;
}
div#header a {       
	margin: 0!important;
	padding: .5em;
}
div#header div.lists {
	float: right;
}               
div#header div.lists a.active {
	color: crimson;
}
ul {
	padding-left: 0;
}
li { 
	list-style-type: none;
	padding: .25em;
	border: 1px solid #DDD;
	border-left-width: 0;
	border-right-width: 0;
	}                   
li + li {
	border-top-width: 1px;
}
li:hover {
	background-color: #F4F4E9;
}
li table {
	width:100%;
} 
td.complete {
	width: 25px;
}
td.title {
	width: 400px;
}
td.delete {
	width: 25px;	
}	
form#destroy {
	margin-top: 1em;
	margin-bottom: 1em;
}          
input[type='submit'], button {
	background-color: transparent;
	border: 0px solid green;              
	padding: 0;
	margin: 0;
}
input[type='submit']:hover, button:hover {
	cursor: pointer;
	color: #888;
}
fieldset {
	border: 0 solid crimson;
}
form#new-item {
	width: 50%;
	float: left;
}
form#new-list {
	width: 50%;
	float: right;
}
form#destroy {
	padding-top: 1em;
}
fieldset, form {
	padding: 0;
}
form {
	padding-top: 1em;
	padding-bottom: 1em;
}
input {
	margin-top: .5em!important;
}